Pioneer.Consultancy/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pioneertech.Consultancy.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pioneertech.Consultancy.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlternatePhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="CurrentCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetail" nillable="true" type="tns:EmployeeDetail" />
</xs:schema>